.top_row
  .user_att
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb), class: "userImage"
    %span= @user.email
  .buttonsGroup
    .follow_btn
      = link_to 'Follow Users', show_users_path(@user), class: ['btn', 'btn-primary']
    .logout_btn
      = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger']
    .add_photo_btn
      = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success']


.photosContainer
  - @allPhotos.each  do |photo|
    .well.col-sm-4.photoContainer
      .photoTitle
        - @users.each do |user|
          .uploadedBy
            - if user.id == photo.user_id
              - if user.avatar_file_name
                = image_tag user.avatar.url(:thumb), class: "userImage small"
              %span{:class => "uploadedByField"}= user.email

        - if @user.id == photo.user_id
          .deletePhotoButton
            = button_to "Delete Photo", user_photo_path(@user, photo), method: :delete

      %span{:class => "titleText"}= photo.title
      .imageContainer
        = image_tag photo.image.url(:medium)

 
      = form_for @tag do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.collection_select :user_id, @users, :id, :email
        = f.submit "Tag User"

      .tagsContainer
        .tagTitle
          Tagged Users:
        - if photo.tags.empty?
          NO TAGS YET
        -else
          - photo.tags.each do |tag|
            .tag
              = tag.user.email

      = form_for @comment do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.hidden_field :user_id, value: @user.id
        = f.text_field :text
        = f.submit "Add Comment"


      .commentsSectionContainer
        Comments
        - photo.comments.each do |comment|
          .comment
            - @users.each do |user|
              - if user.id == comment.user_id
                %span{:class => "commentDisplayName"}= user.email
            %span{:class => "commentText"}= comment.text
            .deleteCommentBtn
              = button_to "Delete", comment_path(comment.id), method: :delete